<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhzy.crm.modules.customer.dao.TookeenMapper">
  <resultMap id="BaseResultMap" type="com.hhzy.crm.modules.customer.entity.Tookeen">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="profession" jdbcType="VARCHAR" property="profession" />
    <result column="tookeen_address" jdbcType="VARCHAR" property="tookeenAddress" />
    <result column="purpose_pro" jdbcType="VARCHAR" property="purposePro" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>

</mapper>